---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import MainLayout from "../layouts/Main.layout.astro";
import photoProfile from "/img/photo-profile.jpg";
import Navigator from "../components/Navigator/Navigator.astro";
import { Icon } from "astro-icon";

let menu = [
  {
    title: "Linkendin",
    path: "https://linkedin.com/in/henrysantamariac/",
    icon: "uil:linkedin",
  },
  {
    title: "Github",
    path: "https://github.com/HenrySantamariaC",
    icon: "fa-brands:github-square",
  },
  {
    title: "Página Web",
    path: "https://henrysantamariac.github.io/pagina-prueba",
    icon: "mdi:web-box",
  },
];
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="w-screen h-screen sm:p-5 bg-neutral-950">
    <MainLayout>
      <div class="h-full w-full bg-photo-profile bg-contain bg-no-repeat">
        <div
          class="flex flex-col justify-end h-full text-white backdrop-blur-sm"
        >
          <div class="flex flex-col p-5 bg-neutral-900 rounded-t-[70px]">
            <img
              src={photoProfile}
              alt="photo-profile"
              class="w-2/5 aspect-square rounded-full object-cover mx-auto my-5"
            />
            <div class="text-center py-5">
              <p class="text-xl">Henry Santamaria C</p>
            </div>
            <div class="flex flex-col gap-5 py-4">
              {
                menu.map((option) => (
                  <a
                    href={option.path}
                    target="_blank"
                    class="flex gap-2 items-end cursor-pointer p-2 text-white"
                    title={option.title}
                  >
                    <Icon name={option.icon} class="w-8 aspect-square" />
                    <span> {option.title}</span>
                  </a>
                ))
              }
            </div>
          </div>
          <Navigator />
        </div>
      </div>
    </MainLayout>
  </body>
</html>
